body{
  background-image: url(bg.jpg);
color:green;}


  h1
  {color:white;
   margin-left: 40%;
   font-family: serif;
  }

#align
{
  float:right ;
}
#red
{color:red;}


.left
{float:left; }

.right{float:right;}



  .gegevensleft
  {

    width: 800px;
    text-align: left;
    float: left;
    font-family: arial;



  }
  .gegevensright
  {

    width: 800px;
    text align: left;
    float: right;
    font-family: arial;
  }
.clearfix{
  width: 100%;
  float: left;
}
